body {
    background-color: #f3f5f7;
    height: 2000px;
}

.header {
    height: 7vw;
    width: 50vw;
    background-color: #fff;
    margin: 0 auto;
}

.note{
    width: 25vw;
    padding: 0 0 0 1.4vw;
    background-color: #888dd8;
    border-radius:0 3.5vw 3.5vw 0; 

    vertical-align: center;
    font-size: 2.1vw;
    font-family: 宋体;
    line-height: 7vw;
}

.main{
    width: 50vw;
    height: 50vw;
    background-color: #fff;
    margin: 0 auto;

    text-align: center;
    vertical-align: center;
    font-size: 2.1vw;
    font-family: 宋体;
    line-height: 7vw;
}